header {
    display: flex;
    flex: 1;
    justify-content: space-around;
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    align-items: center;
}

#right-header-links {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    align-items: center;
    gap: 16px;
}

body {
    margin: 0;
    flex: 1;
}
.body-one {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body-one-left {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 280px;
    margin-bottom: 100px;
    width: 450px;
    margin-right: 20px;
}
#Title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#body-one-description {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 16px;
}

.corgi-one {
    height: 400px;
    width: 600px;
    margin-top: 100px;
    margin-right: 275px;
    margin-bottom: 100px;
    margin-left: 300px; 
}

.first-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #3882f6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 15px;
    height: 40px;
    width: 130px;
    border-radius: 8px
}

.body-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9faf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#body-two-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 50px;
    margin-bottom: 50px;
}

.body-two-text {
    display: flex;
    justify-content:space-evenly;
    text-align:center;
    flex-direction: row;
    font-size: 18px;
    color: grey;
    width: 976px;
    align-self: center;
    gap: 48px;
    margin-bottom: 80px;
}

.body-two-images {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 48px;
    
}

.body-two-corgis {
    display: flex;
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 16%;
}

.body-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    background-size: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.body-three-text-box {
    margin-bottom: 150px;
    margin-top: 150px;
}
#quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    width: 850px;
}

#quote-signature {
    display: flex;
    justify-content:right;
    font-size: 16px;
    font-weight: bolder;
   
}

.body-four {
    display: flex;
    background-color: #f9faf8;
    height: 320px;
    justify-content: center;
}


.left-text {
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text-box {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    height: 150px;
    width: 800px;
    flex-direction: row;
    background-color: #3882f6;
    border-radius: 7px;
    
}

#Call-text {
    font-weight: bold;
}

#second-button {
    background-color: #3882f6;
    color: white;
    height: 45px;
    width: 90px;
    border: 2px solid white;
    border-radius: 7px;
}

.footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color: #E5E7EB;
    height: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}